<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% include 'head.html' %}
    </head>
    <body class="theme-1">
      <div class="preloader">
         <div>
            <div class="nb-spinner"></div>
         </div>
      </div>
      {% include 'header.html' %}
      {% block content %}
      <div class="archives post post1 padding-top-30">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="bridcrumb"> <a href="{% url 'index' %}">Ana Sayfa</a> / <a href="{% url 'kategoriler' id=haberdetay.KategoriID.ID %}">{{ haberdetay.KategoriID.Baslik }}</a> / {{ haberdetay.Baslik }}</div>
               </div>
            </div>
            <div class="space-30"></div>
            <div class="row">
               <div class="col-md-6 col-lg-8">
                  <div class="single_post_heading">
                     <h1>{{ haberdetay.Baslik }}</h1>
                     <div class="space-10"></div>
                     <p>{{ haberdetay.Aciklama }}</p>
                  </div>
                  <div class="space-40"></div>
                  <img src="{{ haberdetay.Resim.url }}" alt="image">
                  
                  <div class="space-20"></div>
                  {{ haberdetay.Icerik | safe }}
               </div>
               <div class="col-md-6 col-lg-4">
                  <div class="trending_widget mb30">
                     <h2 class="widget-title">GÜNDEM</h2>
                     {% for haber in gundemilk %}
                        <div class="single_post post_type3">
                            <div class="post_img">
                            <div class="img_wrap">
                                <img src="{{ haber.Resim.url }}" alt="">
                            </div>
                            </div>
                            <div class="single_post_text">
                            <div class="meta3"> <a href="#">{{ haber.KategoriID.Baslik }}</a>
                                <a href="#">{{ haber.YayinlanmaTarihi }}</a>
                            </div>
                            <h4><a href="{% url 'haberler' id=haber.ID %}">{{ haber.Baslik }}</a></h4>
                            <div class="space-10"></div>
                            <p class="post-p">{{ haber.Aciklama }}</p>
                            </div>
                        </div>
                        <div class="space-15"></div>
                        <div class="border_black"></div>
                        <div class="space-30"></div>
                     {% endfor %}
                     {% for haber in gundemuclu %}
                        <div class="single_post widgets_small">
                            <div class="post_img">
                            <div class="img_wrap">
                                <img src="{{ haber.Resim.url }}" alt="">
                            </div>
                            </div>
                            <div class="single_post_text">
                            <div class="meta2"> <a href="#">{{ haber.KategoriID.Baslik }}</a>
                                <a href="#">{{ haber.YayinlanmaTarihi }}</a>
                            </div>
                            <h4><a href="{% url 'haberler' id=haber.ID %}">{{ haber.Baslik }}</a></h4>
                            </div>
                        </div>
                        <div class="space-15"></div>
                        <div class="border_black"></div>
                        <div class="space-15"></div>
                     {% endfor %}
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
         
      {% endblock content %}
      {% include 'footer.html' %}
   </body>
</html>

